<div class="main-content">
  <h2 class="text-center">Jobs you applied to</h2>
  <% @jobs.each_slice(6) do |slice| %>
    <div class="row">
      <% slice.each do |job| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= link_to job.name, job_path(job) %></h3>
            </div>
            <div class="panel-body text-center">
              <%= render partial: "shared/job", object: job %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="center-text">
    <%= paginate @jobs %>
  </div>
</div>
