<div class="main-content">
  <% if @user %>
    <h2 class="text-center">Jobs that you applied to</h2>
  <% elsif @employer %>
    <h2 class="text-center">Recieved job applications</h2>
  <% end %>
  <% @job_applications.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |job_application| %>
        <div class="col-md-4">
          <%= render partial: 'job_application', object: job_application %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= paginate @job_applications %>
  </div>
</div>
